.home {
    height: 500px;
    background: url('../../assets/home-bg.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}

.home .home-information {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.home .home-information .home-title {
    font-size: 60px;
    font-weight: bold;
    color: var(--black);
}

.home .home-information .home-info {
    font-size: 35px;
    color: var(--blue);
    margin-bottom: 20px;
}

.home .home-information .home-desc {
    font-size: 20px;
    line-height: 1.5;
    color: var(--silver);
    margin-bottom: 20px
}

.home .home-information .home-desc span {
    color: #000
}

.home .home-information .home-btn {
    background: var(--blue);
    color: white;
    font-size: 18px;
    width: 150px;
    border: 0;
    padding: 15px;
    cursor: pointer;
    font-weight: bold
}

.home .home-information .home-btn:hover {
    background: white;
    color: var(--blue)
}


@media (max-width:991px) {
    .home .home-information .home-title {
        font-size: 40px;
    }

    .home .home-information .home-info {
        font-size: 20px
    }

    .home .home-information .home-desc {
        font-size: 15px
    }
}

@media (max-width:575px) {
    .home .home-information .home-title {
        font-size: 20px;
        color: white;
    }
}