.navbar {
    background: var(--black);
    padding: 0px !important;
}

.navbar .logo {
    margin-left: 2rem;
}

ul {
    margin-top: auto !important;
    margin-right: 2rem !important;
}

.navbar .ul-list {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    padding-top: 1.25rem;
}

.navbar .ul-list .list-item {
    display: inline-block;
}

.navbar .ul-list .list-item a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    text-align: center;
}

.navbar .ul-list .list-item a:hover {
    color: var(--blue)
}

.cart-h {
    width: 7rem;
}

.badge {
    background-color: var(--blue);
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 0.5rem;
    font-weight: bold;
}

.menu {
    display: none;
}

.menu-line {
    width: 1.8rem;
    height: 0.2rem;
    background-color: white;
    margin-bottom: 4px;
}

@media all and (min-width: 995px) {
    .profile {
        width: 35vh;
    }
}

@media all and (max-width: 995px) {
    .navbar .ul-list-none {
        width: 95%;
        text-align: center;
        display: none;
    }

    .navbar .ul-list-block {
        width: 95%;
        text-align: center;
        display: block;
        margin-top: 5%;
    }

    .navbar .ul-list .list-item {
        display: block;
        border-top: 1px solid white;
    }

    .cart-h {
        width: 100%;
    }

    .menu {
        display: block;
        position: absolute;
        right: 2rem;
        top: 1.3rem;
    }

    .active {
        display: block;
    }
}