.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.card {
    box-shadow: 0 4px 8px 0 var(--black);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: var(--silver);
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    margin: 1%
}

a:hover {
    opacity: 0.7;
}

.contact {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.contact:hover {
    background-color: #555;
}